<footer>
  <div class="footer-elements">
    <p class="footer-element">Created by Greg Mattia</p>
    <p class="footer-element">Email: GJMattia@gmail.com</p>
    <a class="footer-element" href="https://github.com/GJMattia">Github</a>
    <a class="footer-element" href="https://www.linkedin.com/in/greg-mattia/">Linkedin</a>
    <p class="footer-element">$Bankapp &copy;2023</p>
</footer>
</div>
</footer>
</body>

</html>
