<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <div>$BankApp.com</div>
      <a href="/">Home</a>
      <a href="/accounts/new">Open Account</a>
      <a href="/accounts">My Accounts</a>
      <a href="/auth/google">Sign In</a>
    </nav>
  
