html {
  background-color: rgb(235, 235, 235);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 62.5%;

}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* NAV BAR */

nav {
  background-color: white;
  height: 6rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.bank-app {
  width: 14rem;
}

.nav-link {
  padding: 5rem;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(0, 255, 0);
}

.log {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.log:hover {
  color: rgb(0, 209, 0);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.active {
  color: rgb(0, 234, 0);
}



/* MAIN PAGE CONTAINER */

.welcome {
  font-size: 2.5rem;
  color: rgb(59, 59, 59);
  text-align: center;
  width: 60rem;
  padding: 1rem;
}


.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70rem;
  background-image: url('/images/city5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-container-title {
  position: relative;
  bottom: 8.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);

}

.account-showcase {
  position: relative;
  bottom: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40rem;
}

.account-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 55rem;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
}

.account-image {
  border-radius: 1rem;
  width: 100%;
  height: 60%;
}

.account-title {
  margin: 1rem;
  font-size: 2.5rem;
}

.account-description {
  margin-top: 0;
  font-size: 1.5rem;
  width: 50rem;
}

.homepage-btn {
  margin: .5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  width: 30rem;
  height: 4rem;
  color: white;
  background-color: rgb(0, 210, 0);
  border: 0;
  font-size: 1.5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.homepage-btn:hover {
  background-color: lawngreen;
  cursor: pointer;
}

/* FOOTER AND FOOTER ELEMENTS */

footer {
  font-size: 1.5rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-top: 10rem;
}

.footer-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space;
}

.footer-element {
  margin: 1rem;
  text-decoration: none;
  color: rgb(52, 52, 52);
}

.footer-elements>a:hover {
  color: dodgerblue;
}

/* ACCOUNT DISPLAY */

.account-index-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 85rem;
  background-image: url('/images/city2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.accounts-title {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: rgb(43, 43, 43);
}

.account-container {
  margin: 4rem;
  width: 110rem;
}

.single-column {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 4rem;
  flex-wrap: wrap;
}

.double-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 4rem;
  flex-wrap: wrap;
}

.account-box {
  justify-self: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 50rem;
  height: 15rem;
  background-color: #3ee577;
  background-image: linear-gradient(315deg, #3ee577 0%, #42fcdb 74%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 1rem;
}

.new-acc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70rem;
  height: 15rem;
  background-image: linear-gradient(315deg, #000000 0%, #1971ff 74%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.account-type {
  margin: 0;
  font-size: 2.5rem;
}

.account-number {
  margin: 0;
  font-size: 1.3rem;
}

.account-balance {
  font-size: 4rem;
  color: black;
  margin: 0;
}


.view-account {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 15rem;
  border: 2px solid black;
  border-radius: .5rem;
  font-size: 1.8rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.view-account>a {
  text-decoration: none;
  color: black;
}

.view-account>a:hover {
  color: white;
}

.avail-bal {
  margin: 0;
}

.new-account-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 50rem;
  height: 15rem;
}

.account-text {
  width: 80%;
  color: white;
}

.new-account-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 15rem;
  border: 2px solid white;
  border-radius: .5rem;
  font-size: 1.5rem;
}

.new-account-div>a {
  text-decoration: none;
  color: white;
}

.new-account-div>a:hover {
  color: lawngreen;
}

.new-title {
  color: white;
}

.account-info {
  position: relative;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.account-balance-div {
  position: relative;
  top: 3rem;
  right: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

/*  NEW ACCOUNT PAGE  */

.new-account-title {
  font-size: 2.5rem;
  color: rgb(28, 28, 28);
}

.new-account-form {
  margin: 5rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #cacaca 0%, #49ff95 74%);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  display: grid;
  width: 40rem;
  height: 40rem;
  font-weight: 900;
}

.new-account-form>label {
  font-size: 1.5rem;
}

.new-account-form>select {
  border-radius: .5rem;
  padding: .5rem;
  border: 0;
  font-size: 1.5rem;
}

.new-account-form>input {
  border-radius: .5rem;
  padding: .5rem;
  border: 0;
  font-size: 1.5rem;
}

.open-acc-btn {
  position: relative;
  left: 10rem;
  border: 0;
  background-color: white;
  font-size: 2rem;
  width: 20rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.open-acc-btn:hover {
  background-color: #00df5d;
  color: white;
  cursor: pointer;
}

.user-name {
  text-align: center;
  width: 12rem;
  font-weight: 900;
  background-color: white;
  padding: .8rem;
  font-size: 1.5rem;
  border-radius: .5rem;
}

.account-label {
  justify-self: flex-start;
  margin-left: 5rem;
}

.account-choice {
  text-align: center;
  width: 13.5rem;
}

.account-asset {
  font-weight: 900;
  justify-self: flex-start;
  margin-left: 4rem;
}

.new-account-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70rem;
  background-image: url('/images/city.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.opening-bal {
  width: 6rem;
}

.account-num {
  text-align: center;
  width: 12.5rem;
}

.cash-span {
  font-size: 2rem;
  position: relative;
  left: 4.5rem;
}

/* ACCOUNT SHOW DISPLAY */

.account-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 78rem;
  height: 6rem;
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #005acf 74%);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
  margin-top: .5rem;
  border-radius: 1rem;
}

.action-link {
  text-align: center;
  width: 10rem;
  border: 2px solid white;
  padding: .7rem;
  border-radius: 1rem;
  font-weight: 900;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #00933b;
}


.action-link:hover {
  background-color: dodgerblue;
}

.close-acc-btn {
  width: 11rem;
  font-size: 1.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  color: white;
  padding: .7rem;
  background-color: rgb(76, 0, 0);
  border: 2px solid white;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.close-acc-btn:hover {
  cursor: pointer;
  background-color: rgb(177, 1, 1);
}

.account-details {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 75rem;
  height: 25rem;
  background-image: linear-gradient(315deg, #6507fc 0%, #05d6d9 74%);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.details-title {
  font-size: 1.8rem;
  margin-left: 16rem;
  justify-self: flex-start;
}

.details-asset {
  font-size: 2.5rem;
  margin-left: 10rem;
  justify-self: flex-start;
}

.beneficiary-display {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #000000 0%, #193789 74%);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 1rem;
}

th {
  font-size: 1.5rem;
  padding: 1.5rem;
}

td {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
}

.edit-ben {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: #00933b;
  border: 2px solid white;
  border-radius: 1rem;
  padding: .5rem;
  text-decoration: none;
}

.edit-ben:hover {
  background-color: dodgerblue;
}

.remove-ben {
  width: 8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(76, 0, 0);
  border: 2px solid white;
  border-radius: 1rem;
  padding: .5rem;
}

.remove-ben:hover {
  cursor: pointer;
  background-color: rgb(177, 1, 1);
}

.accounts-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;

  background-image: url('/images/city3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.ben-title {
  color: #1a1a1a;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  margin-bottom: .5rem;
}

.account-title-div {
  margin-top: 5rem;
  margin-bottom: .5rem;
  border-radius: 1rem;
  color: #101010;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.no-ben {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
}

/*  ADD BENEFICIARY */

.new-beneficiary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70rem;
  background-image: url('/images/city7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.new-ben-form {
  margin: 5rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #cacaca 0%, #49b0ff 74%);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  display: grid;
  width: 50rem;
  height: 42rem;
  font-weight: 900;
}

.new-ben-form>label {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.new-ben-form>select {
  margin-top: 3rem;
  border-radius: .5rem;
  padding: .5rem;
  border: 0;
  font-size: 1.5rem;
}

.new-ben-form>input {
  margin-top: 3rem;
  border-radius: .5rem;
  padding: .5rem;
  border: 0;
  font-size: 1.5rem;
}

.add-ben-btn {
  position: relative;
  left: 13rem;
  border: 0;
  background-color: white;
  font-size: 2rem;
  width: 20rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.add-ben-btn:hover {
  background-color: #0088ff;
  color: white;
  cursor: pointer;
}

.acc-num {
  width: 12rem;
  text-align: center;
  margin-top: 4rem;
  font-size: 1.5rem;
  background-color: white;
  padding: .5rem;
  border-radius: .5rem;
}

/* Update Beneficiary */

.update-beneficiary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70rem;
  background-image: url('/images/cars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.ben-update {
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #cacaca 0%, #ff4949 74%);
}

/*  Money Transfer Page   */

.transfer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70rem;
  background-image: url('/images/city6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.transfer-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 65rem;
  height: 28rem;
  background-image: linear-gradient(315deg, #3ee577 0%, #42fcdb 74%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  margin: 4rem;
}

.transfer-label {
  margin-left: 8rem;
  font-size: 2rem;
  font-weight: 900;
  justify-self: flex-start;
}

.transfer-asset {
  font-size: 1.5rem;
  border: 0;
  padding: .5rem;
  border-radius: .5rem;
  justify-self: flex-start;
  margin-left: 4rem;
}

.transfer-amount {
  font-weight: 900;
  border: 0;
  font-size: 2rem;
  width: 8rem;
  height: 4rem;
  border-radius: .5rem;
}

.transfer-btn {
  font-weight: 900;
  position: relative;
  left: 17rem;
  border: 0;
  background-color: white;
  font-size: 2rem;
  width: 20rem;
  height: 4rem;
  bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.transfer-btn:hover {
  cursor: pointer;
  background-color: #2684ff;
}

.transfer-dollar {
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  left: 15rem;

}

.transfer-error {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  height: 6rem;
  background-color: rgba(182, 0, 0, 0.8);
  color: white;
}

.transfer-success {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  height: 6rem;
  background-color: rgba(98, 255, 0, 0.9);
  color: white;
}

/*  ABOUT BANK APP  */

.bankapp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-image: url('/images/city5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bankapp-image {
  margin-top: 1rem;
  width: 30rem;
}

.bank-app-readme {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  width: 75rem;
  height: 92rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.bank-app-readme>h1 {
  margin-top: 3rem;
}

.bank-app-readme>p {
  margin: 0;
  width: 65rem;
  font-size: 1.5rem;
}

.bank-app-readme>a {
  font-size: 1.5rem;
  color: dodgerblue;
  text-decoration: none;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.list>ul {
  margin: 0;
  font-size: 1.5rem;
}

.list>ul>li {
  padding: .5rem;
}

.lists {
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-items: center;
  width: 75rem;
}

/*  TRANSACTION HISTORY */

.history-title {
  margin-top: 4rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  margin-bottom: .5rem;
}

.history-display {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #000000 0%, #1f84ff 74%);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.history-display>table>thead>tr>th {
  width: 13rem;
}

.Credit {
  font-weight: 900;
  color: lawngreen;
}

.Debit {
  font-weight: 900;
  color: crimson;
}

/* Withdraw */

.withdraw-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70rem;
  background-image: url('/images/city8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.withdraw-form {
  margin: 5rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #cacaca 0%, #ff6767 74%);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  display: grid;
  width: 50rem;
  height: 20rem;
  font-weight: 900;
}

.withdraw-label {
  margin-left: 8rem;
  justify-self: flex-start;
  font-size: 1.8rem;
}

.withdraw-dollar {
  position: relative;
  left: 3.5rem;
  font-size: 2rem;
}

.withdraw-amount {
  position: relative;
  right: 3rem;
  border-radius: .5rem;
  justify-self: center;
  width: 10rem;
  height: 3rem;
  font-weight: 900;
  font-size: 1.5rem;
  border: 0;
}

.withdraw-btn {
  font-weight: 900;
  position: relative;
  left: 12rem;
  border: 0;
  background-color: white;
  font-size: 1.5rem;
  width: 16rem;
  height: 4rem;
  bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.withdraw-btn:hover {
  cursor: pointer;
  background-color: #2684ff;
}

.deposit-dollar {
  position: relative;
  left: 5rem;
  font-size: 2rem;
}

@media (max-width: 1200px) {

  /* Homepage */

  .home-container {
    justify-content: flex-start;
    height: 100rem;
  }

  .home-container-title {
    position: relative;
    top: 0;
  }

  .account-showcase {
    position: relative;
    top: 3rem;
    flex-direction: column;
  }

  .account-display {
    margin: 2rem;
  }

  /* Account Showcase */

  .double-column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

}