<%- include('../partials/header') %>
<h1 class="new-account-title">Add your beneficiary's information below!</h1>
<div class="new-beneficiary-container">
  <form class="new-ben-form" action="/beneficiaries/<%= account._id %>" method="POST">
    <label class="account-label">For Account#</label>
    <h1 class="account-asset acc-num"> <%= account.accountNumber %></h1>
    <label class="account-label">Beneficiary Name:</label>
    <input class="account-asset" name="name" placeholder="Beneficiary Name" />
    <label class="account-label">Beneficiary Phone Number#</label>
    <input name="phoneNumber" type="text" class="account-asset" maxlength="12" placeholder="xxx-xxx-xxxx" pattern="\d{3}-\d{3}-\d{4}">
    <label class="account-label">Beneficiary Birthdate:</label>
    <input class="account-asset" name="birthdate" type='date' value="1990-12-12" />
    <button class="add-ben-btn" type="submit">Add Beneficiary</button>
  </form>
</div>
<%- include('../partials/footer') %>
